\documentclass[9pt]{extarticle}
\input{mathgenomics_prelude.tex}
\begin{document}
{{ with $slides := .Kids }}
  {{- with $tslide := index . 0 }}
    % if we assume the last node of this slide is the list
    % AND the number of items is ocrrect, this works,
    % otherwise it breaks
    \titleslide
    { {{ $tslide.FirstTokenString }} }
    {{- range $tslide.FirstListNode.Kids -}}
      { {{  .FirstTokenString }} }
    {{- end }}
  {{ end }}

  {{- range $slide := slice . 1 -}}
\slidei{ {{ $slide.FirstTokenString }} }{
{{ range $slide.FirstListNode.Kids -}}

  {{- texpi . "  " "  " -}}

{{- end }}
}
  {{ end }}
{{ end }}
\end{document}
