@font-face {
	font-family: 'Computer Modern Typewriter';
	src: url('cmun-typewriter/cmuntt.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Typewriter';
	src: url('cmun-typewriter/cmuntb.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Typewriter';
	src: url('cmun-typewriter/cmunit.ttf');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Computer Modern Typewriter';
	src: url('cmun-typeriter/cmuntx.ttf');
	font-weight: bold;
	font-style: italic;
}
